.o_main_navbar > ul > li > a, .o_main_navbar > ul > li > label,
.o_main_navbar .o_menu_systray div.dropdown > .dropdown-toggle,
nav.o_main_navbar .o_menu_systray .o_full_screen .open_full_screen{color:$header_font_color;}
.o_main_navbar>ul>li>a:hover,
.o_main_navbar>ul>li>label:hover {
	color: #fff;
	background-color:$header_hover_color;
}
.o_main_navbar > a:focus, .o_main_navbar > a:active, .o_main_navbar > a:focus:active, .o_main_navbar > button:focus, .o_main_navbar > button:active, .o_main_navbar > button:focus:active{background-color: $header_active_color;}
.o_main_navbar>a:hover,
.o_main_navbar>a:focus,
.o_main_navbar>button:hover,
.o_main_navbar>button:focus {
	background-color: $header_active_color;
}
nav.o_main_navbar .o_menu_systray .sh_calc_util{display: flex !important;align-items: center;padding: 0px 8px;}

nav.o_main_navbar .o_menu_systray li.sh_search .sh_search_container .sh_search_input .input-group-text span:hover,
nav.o_main_navbar .o_menu_systray div.dropdown.o_night_mode .fa:hover,
.o_main_navbar .o_menu_systray div.dropdown a.gift_icon i:hover,
.o_main_navbar .o_menu_systray div.dropdown .icon-expand:hover,
nav.o_main_navbar .o_menu_systray div.dropdown.o_full_screen .compress_img:hover,
nav.o_main_navbar > ul > li.o_user_bookmark_menu > a i:hover,
nav.o_main_navbar .o_menu_systray li.sh_search .sh_search_container .sh_search_input .input-group-text:hover,
nav.o_main_navbar .o_menu_systray .o_full_screen .open_full_screen:hover{color: $header_hover_color;}


nav.o_main_navbar .o_menu_systray li.sh_search .sh_search_container .sh_search_input .input-group-text span:active, 
nav.o_main_navbar .o_menu_systray div.dropdown.o_night_mode .fa:active, 
nav.o_main_navbar .o_menu_systray div.dropdown.o_debug_manager .dropdown-toggle .fa:active, 
nav.o_main_navbar .o_menu_systray div.dropdown.o_debug_manager.show .dropdown-toggle,
.o_main_navbar .o_menu_systray .o_mail_systray_item.dropdown a.dropdown-toggle:active, 
.o_main_navbar .o_menu_systray .o_mail_systray_item.dropdown.show > a.dropdown-toggle .icon-activity,
.o_main_navbar .o_menu_systray .o_MessagingMenu.dropdown .o_MessagingMenu_icon:active,
.o_main_navbar .o_menu_systray .o_MessagingMenu.dropdown.show .o_MessagingMenu_toggler, 
.o_main_navbar > ul > li > a.gift_icon i:active, 
nav.o_main_navbar .o_menu_systray .o_switch_company_menu.dropdown.show > .dropdown-toggle, 
.o_main_navbar > ul > li > a .icon-expand:active, 
nav.o_main_navbar .o_menu_systray div.dropdown.o_full_screen .compress_img:active, 
nav.o_main_navbar > ul > li.o_user_bookmark_menu > a i:active,
nav.o_main_navbar .o_menu_systray li.sh_search .sh_search_container .sh_search_input .input-group-text:active,
nav.o_main_navbar .o_menu_systray .o_full_screen .open_full_screen:active{color: $header_active_color !important;}

nav.o_main_navbar .o_menu_systray li.sh_search .sh_search_container .sh_search_input .input-group-text:hover,
nav.o_main_navbar .o_menu_systray div.dropdown.o_debug_manager .dropdown-toggle:hover,
.o_main_navbar .o_menu_systray .o_MessagingMenu.dropdown .o_MessagingMenu_toggler:hover,
.o_main_navbar .o_menu_systray .o_mail_systray_item.dropdown > a.dropdown-toggle:hover,
nav.o_main_navbar .o_menu_systray .o_switch_company_menu.dropdown > .dropdown-toggle:hover{color: $header_hover_color !important; }

nav.o_main_navbar .o_menu_systray .o_full_screen{margin: 0px 6px;}

@if $theme_style == 'style_1'{
	nav.o_main_navbar .o_menu_systray li.theme_settings{padding: 0px 15px !important;}
}